body{
    background-image: linear-gradient(to right, 
    rgb(0, 0, 207), 
    rgb(180, 97, 3));
}

.login {
    background-color: rgba(0,0,0,0.8);
    color: white;
    width: 500px;
    height: 300px;    
    margin-bottom: 50%;
    margin-left: 50%;
    transform: translate(-50%, 50%);
    border-radius: 10px;
 
}

.botao{
    background-color: #fff!important;
    color: #000!important;
    border: none;
}

.botao:hover {
    background-color: rgb(4, 91, 253)!important;
    color: #fff!important;
    transition: 1s;
    border: none;
}